<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
   <typeAliases>
   	   <typeAlias alias="Address" type="soo.md.domain.Address"/>
   	   <typeAlias alias="AddressFile" type="soo.md.domain.AddressFile"/>
   </typeAliases>
   <mappers>
   	   <mapper resource="soo/md/mapper/AddressMapper.xml"/>
   </mappers>
</configuration>